html {
  background-color: whitesmoke;

  justify-content: center;
  width: 375px;
}
.leadPhoto {
  height: 200px;
  width: 600px;
  padding-bottom: 10px;
}
.homeContainer,
body {
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  display: inline-flex;
}
h1.mainTitle {
  display: flex;
  justify-content: center;
  height: 100%;
}
.links {
  display: flex;
  align-items: flex-end;
  height: 100%;
}
img {
  height: 250px;
  width: 550px;
  text-align: center;
}
.galleryContainer {
  flex-direction: column-reverse;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-around;
  display: inline-flex;
}
