<h1>

  New Image</h1>


<form action="/gallery" method="post" enctype="application/x-www-form-urlencoded">


  <label for="author">Author: </label>
  <input id="author" type="text" name="author">

  <label for="link">Link: </label>
  <input id="link" type="text" name="link">


  <label for="description">Description: </label>
  <input id="description" type="text" name="description">


  <input type="submit" value="submit">
</form>