<h1>

  Register</h1>

<body>

  <form action="/register" method="POST">
    <label for="Put-name">Email</label>
    <input id="username" type="text" value="{{username}}" name="username">
    <label for="Put-name">Password</label>
    <input id="pass" type="text" value="{{password}}" name="password">
    <input type="submit" value="submit">
  </form>